terraform-provider-xmatters

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.checkstyle

# VS Code
/.vscode
/.REST_tests

# MacOS
**/.DS_Store

# Gitignore
.gitignore

# Acceptance Tests
/internal/test/acceptance*